/* 상단이미지 */
.top_container .center_big_title {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: 600;
}

.top_container .top_img-background {
  position: relative;
  height: 230px;
}

.top_container .top_icon {
  position: absolute;
  top: 55%;
  left: 6%;
  color: white;
}

.top_container .top_icon a {
  text-decoration: none;
}

/* sidebar */

.sidebar {
  position: absolute;
  top: 40%;
  left: 6%;
}

.sidebar .nav_item {
  width: 100%;
  padding: 15px 12px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e4e4e4;

  font-size: 15px;
}

.sidebar .nav_title {
  width: auto;
  padding: 0px 12px 18px;
  margin-bottom: 0px;
  border-bottom: 3px solid #222020;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
}

.sidebar .nav_item a {
  color: black;
  text-decoration: none;
  /* opacity: 0.6; */
  font-weight: 700;
}

.sidebar .nav_item a > span {
  color: gray;
}

.sidebar .nav_item a > .click {
  color: black;
}

.sidebar .nav_item a > span:hover {
  color: black;
}

/* main */

.main {
  width: 940px;
  position: absolute;
  top: 40%;
  left: 16%;
}

.sub_title {
  color: #000000;
  font-size: 27px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main .contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .contents .content {
  margin-bottom: 10px;
}

i.fas,
i.far {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 15px rgb(0, 16, 240);
  padding: 0.5em 0.6em;
}

/* 오시는 길 */
.main .map {
  position: relative;
  width: 60%;
  height: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* 상담원 소개 */

.main .main_content {
  width: 100%;
  height: 1260px;
  color: #000000;
  margin-bottom: 30px;
}

.main .doctor_img {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
}

.main .doctor_education > li,
.main .doctor_article > li,
.main .doctor_Qualification > li,
.main .doctor_lecture > li,
.main .doctor_lecture_2 > li,
.main .doctor_story > li {
  margin: 10px 0px;
  list-style-type: circle;
}

.main .doctor_education > div,
.main .doctor_article > div,
.main .doctor_Qualification > div,
.main .doctor_lecture > div,
.main .doctor_lecture_2 > div,
.main .doctor_story > div {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding-bottom: 10px;
  border-bottom: 2px solid green;
}

.main .doctor_story {
  margin-bottom: 50px;
}

.main .man_detail {
  position: absolute;
  top: 4%;
  left: 27%;
  width: max-content;
}

.main .doctor_name {
  position: absolute;
  top: 5%;
  left: 0%;
  padding-bottom: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid green;
  width: max-content;
  font-weight: 700;
  color: black;
}

/* 상담원 소개 2 */

.main .doctor_img_2 {
  display: inline-block;
  width: 250px;
  height: 250px;
}

.main .main_content_2 {
  position: relative;
  width: 100%;
  height: auto;
  color: #000000;
  margin-bottom: 80px;
}

.main .doctor_name_2 {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-bottom: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid green;
  width: max-content;
  font-weight: 700;
  color: black;
}

.main .man_detail_2 {
  position: absolute;
  top: 15%;
  left: 27%;
  width: max-content;
}

.doctor_story_2 {
  font-size: 1.5rem;
  margin: 1.5rem 0px;
  border-bottom: 2px solid green;
  padding-bottom: 10px;
  width: 50px;
}

.man_detail_2 > li {
  list-style-type: circle;
  margin: 15px 0px;
}

/* ADHD */
.main .disease_content {
  display: flex;
  background: #e5e5e5;
  width: max-content;
  height: 250px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px;
  margin: 0 auto;
}

.disease_content .disease_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0087cd;
  margin-bottom: 20px;
}

.disease_content .disease_subcontent {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.style-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #7a7c7f;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  line-height: 45px;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
  list-style-type: decimal;
  font-weight: 400;
}

.style-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
  font-weight: 400;
  flex-wrap: wrap;
  overflow: auto;
}

/* 교육프로그램 */
.main .character {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #0087cd;
}

.main .list_title {
  width: max-content;
  border-bottom: 2px solid green;
  padding: 0.5rem;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main .list_content {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5rem;
  line-height: 35px;
}

/* child */

.main .child_tit h4 {
  color: #1e2e6a;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.main .child_tit p {
  font-size: 18px;
  line-height: 34px;
  color: black;
  font-weight: 400;
}

.adhd_box ul {
  border: 1px #aaa solid;
  border-right: none;
  border-top: none;
  margin-top: 35px;
}

.adhd_box li {
  float: left;
  width: calc(33.3333% - 1px);
  border-right: 1px #aaa solid;
  height: 280px;
}

.adhd_box ul:after {
  content: '';
  display: block;
  clear: both;
}

.adhd_box {
  padding-bottom: 75px;
}

.adhd_box li > dl > dt {
  text-align: center;
  border-bottom: 1px #aaa solid;
  border-top: 1px #aaa solid;
  background: #008ace;
  color: #fff;
  padding: 5px 0;
  margin-bottom: 15px;
}

.adhd_box li > dl > dt > span {
  color: #79f4ff;
  font-size: 18px;
}

.adhd_box li > dl > dd {
  font-size: 14px;
  line-height: 30px;
  position: relative;
  padding-left: 27px;
}

.adhd_box li > dl > dd:before {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background: #292929;
  position: absolute;
  top: 12px;
  left: 12px;
}

.adhd_list ul > li {
  list-style-type: circle;
  line-height: 30px;
}

.adhd_list dl {
  display: table;
  margin-bottom: 2px;
}
.adhd_list dl dt {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
  background: #73a802;
  height: 28px;
  color: #fff;
  text-align: center;
}
.adhd_list dl dd {
  display: table-cell;
  vertical-align: middle;
  width: calc(100% - 140px);
  padding-left: 20px;
}

.adhd_cure dd {
  margin-bottom: 40px;
}

.diagnosis_step {
  padding-bottom: 75px;
}

.child_list h5 {
  margin-bottom: 35px;
  font-size: 24px;
  margin-top: 35px;
}

.child_list > p {
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 50px;
}

.child_list_s06 dt {
  color: #008ace;
  font-size: 16px;
  line-height: 30px;
}

.game_list p span {
  color: #008ace;
}

.concentrate_list dl > dt {
  border: 1px solid black;
  padding: 8px 12px;
  margin-bottom: 20px;
  color: #008ace;
  font-weight: 600;
}

.concentrate_list dl > dd {
  margin: 40px 0px;
}

.evaluation li {
  float: left;
  width: calc(25% - 18px);
  margin-left: 18px;
  position: relative;
  margin-bottom: 50px;
}

.evaluation li > div {
  text-align: center;
  background: #008ace;
  color: #fff;
  padding: 30px 0;
  height: 155px;
}

.evaluation li > div > span {
  display: block;
  color: #79f4ff;
  font-size: 16px;
  margin-bottom: 7px;
}

.evaluation li > div > p {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
}

.study_list dl {
  margin-bottom: 30px;
}

.study_list dl > dt > span {
  background: rgb(9, 201, 9);
  color: white;
  display: inline-block;
  padding: 10px;
  font-weight: 700;
  font-size: 10px;
}

.study_list dt p {
  margin-top: 20px;
  padding: 5px 0;
  font-size: 20px;
  color: #1e2e6a;
  font-weight: 600;
}

.study_list dd {
  padding: 10px;
}

.study_list dd strong {
  color: #008ace;
  font-weight: normal;
}

/* adult */

.child_list h5 {
  border-bottom: 3px solid green;
  width: max-content;
  padding-bottom: 15px;
}

.child_box2 {
  padding: 8px 30px;
  line-height: 35px;
  border: 1px solid black;
}
.child_box2 li {
  list-style-type: decimal;
}

.child_box2 dl > dd > span {
  display: inline-block;
  background: #008ace;
  color: white;
  padding: 5px;
  margin-right: 5px;
}

.adult01_list01 dl > dt {
  border: 1px solid black;
  padding: 8px 12px;
  margin-bottom: 20px;
  color: #008ace;
  font-weight: 600;
}

.adult01_list01 dl > dd {
  line-height: 45px;
  margin-bottom: 1.5rem;
}

.old_box_wrap {
  display: flex;
  justify-content: space-between;
}

.old_box {
  background: #0187ce;
  width: max-content;
  padding: 20px;
  margin: 40px 0px;
  color: white;
  font-weight: 700;
  border-radius: 40px;
}
/* stress */

.stress_tit p {
  font-size: 18px;
  line-height: 34px;
}

.depression_list .tit {
  background: #40c164;
  width: max-content;
  padding: 12px;
  color: white;
  margin-bottom: 30px;
}

.depression_list .contents {
  margin-bottom: 30px;
  line-height: 30px;
}

.stress_Symptom dl {
  display: table;
  margin-bottom: 10px;
  margin-right: 10px;
}

.stress_Symptom dl > dt {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
  background: #73a802;
  height: 28px;
  color: #fff;
  text-align: center;
}

.stress_Symptom dl > dd {
  display: table-cell;
  vertical-align: middle;
  width: calc(100% - 140px);
  padding-left: 20px;
}

.stress_box {
  padding: 20px;
  background: #d2d2d2;
}

/* 불안 */

.communication_box {
  border: 1px solid black;
  padding: 12px 24px;
  margin-bottom: 20px;
}

.communication_box dd > span {
  display: inline-block;
  background: #40c164;
  color: white;
  padding: 5px;
  margin-right: 8px;
}

.communication_box dl > dd {
  margin-bottom: 15px;
}

.unrest_list dl > dt {
  border: 1px solid black;
  padding: 8px 12px;
  margin-bottom: 20px;
  color: #008ace;
  font-weight: 600;
}

.unrest_list dl > dd {
  line-height: 40px;
}

.unrest_list dd > ul > li {
  display: table;
  margin-bottom: 20px;
}

.unrest_list dd > ul > li > div {
  display: table-cell;
  vertical-align: middle;
}

.unrest_list dd > ul > li > div.tit {
  display: table-cell;
  background: #008ace;
  color: #fff;
  width: 75px;
  text-align: center;
  padding: 14px 0;
}

.unrest_list dd > ul > li > div.contents {
  display: table-cell;

  line-height: 20px;
  font-size: 16px;
  padding-left: 10px;
  vertical-align: middle;
}

.couple_list dl > dt {
  border: 1px solid black;
  padding: 8px 12px;
  margin-bottom: 20px;
  color: #008ace;
  font-weight: 600;
}

.couple_list dl > dd {
  line-height: 30px;
  margin: 15px 0 40px 0;
}

/* treatment */
.treat1_title h3 {
  color: #1e2e6a;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.treat1_title p {
  line-height: 30px;
  margin-bottom: 30px;
}

.treat1_description h3 {
  color: #1e2e6a;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.treat1_description p {
  line-height: 30px;
  margin-bottom: 30px;
}

.treat1_box {
  background: #fffbec;
  padding: 30px;
  margin-bottom: 50px;
}

.treat1_box h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.treat1_box ul li {
  list-style-type: circle;
  margin-bottom: 10px;
  line-height: 18px;
}
.treat1_box ul {
  margin-bottom: 20px;
}

.treat1_box h3 {
  background: #f18800;
  width: max-content;
  padding: 8px;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.process_list li .num_t {
  background: #73a802;
  width: max-content;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.process_list li {
  line-height: 40px;
  list-style-type: disc;
}
